.contenedor-nosotros1{

    background-color: midnightblue;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 10px;
    padding: 30px;
    @media screen and (min-width: 700px){
        grid-template-columns: repeat(2,1fr);
    }
}
.contenedor-icono-texto{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    background-color: lawngreen;
    padding: 10px;

    @media screen and (min-width: 700px){
        grid-template-columns: 1fr 4fr;
       
    }
    
}
.icono{
    display: grid;
    grid-template-columns: 1fr;
    display: block;
    padding: 10px;
    background-color: orangered;

}

.icono img{
    align-items: center;
    justify-content: center;
    max-width: 70px;
    position: relative;
    top: 100px;
    right: -260px;

    @media screen and (min-width: 700px){

        position: relative;
        top: 0px;
        right: 0px;;

    
    }
    
}

.texto{
    display: grid;
    grid-template-columns: 4fr;
    background-color: lightcoral;
    padding: 10px;
}
.contenedor-nosotros1 .titulo-principal{
    display: grid;
    grid-column: 1/-1;
    background-color: lightcoral;

}