*{
  box-sizing: border-box;
}
.contenedor{
  display: grid;
  gap: 5px;
  grid-template:
    "header header header" 100px
       "nav nav nav" auto
      /*"portada portada portada" 600px*/
      "main main main" auto
      "footer footer footer" 200px/
      40% 40% 15%;

  justify-content: center;
  padding: 10px;
}
.main{
  background-color: rgb(195, 202, 214);
  grid-area: main;
  padding: 20px;
  margin: 30px 0px; 
}
.main h2{
  text-align: center;
  text-transform: uppercase;
}
.main button{
  border-radius: 10px;
  padding: 5px 10px;

}


